<div class="uk-card uk-card-default uk-margin-small-top">
	<div class="uk-card-header">
		<h3 class="uk-card-title">Add a book</h3>
	</div><!-- /uk-card-header -->
	<div class="uk-card-body" ng-submit="addBook()">
		<form class="uk-form-horizontal">
			<label class="uk-form-label">Title</label>
			<div class="uk-form-controls">
				<input type="text" class="uk-input" name="title" ng-model="book.title">
			</div><!-- /uk-form-controls -->
			<label class="uk-form-label">Author</label>
			<div class="uk-form-controls">
				<input type="text" class="uk-input" name="author" ng-model="book.author">
			</div><!-- /uk-form-controls -->
			<label class="uk-form-label">Description</label>
			<div class="uk-form-controls">
				<textarea name="description" class="uk-textarea" rows="4" ng-model="book.description"></textarea>
			</div><!-- /uk-form-controls -->
			<label class="uk-form-label">Image link</label>
			<div class="uk-form-controls">
				<input type="url" name="imgUrl" class="uk-input" ng-model="book.imgUrl">
			</div><!-- /uk-form-controls -->
			<label class="uk-form-label">Buy Link</label>
			<div class="uk-form-controls">
				<input type="url" name="buyUrl" class="uk-input" ng-model="book.buyLink">
			</div><!-- /uk-form-controls -->
			<button type="submit" class="uk-button uk-button-primary uk-margin-small-top">Submit a book</button>
		</form>
	</div><!-- /uk-card-body -->
</div><!-- /uk-card -->
