<a href="#!/books" class="uk-button uk-button-primary uk-margin-small-top">Go back to the library</a>
<div class="uk-card uk-card-default uk-margin-small-top" ng-init="getBook()">
	<div class="uk-card-header">
		<h3 class="uk-card-title">{{ book.title }}</h3>
	</div><!-- /uk-card-header -->
	<div class="uk-card-body">
		<p>{{ book.description }}</p>
		<img ng-src="{{ book.imgUrl }}" class="uk-height-medium" alt="">
		<br>
		<a href="{{ book.buyUrl }}" target="_blank" class="uk-button uk-button-primary uk-margin-small-top">Buy on Amazon</a>

		<div class="uk-button-group uk-margin-small-top">
			<button class="uk-button uk-button-secondary">Options</button>
			<div class="uk-inline">
				<button class="uk-button uk-button-default" type="button"><span uk-icon="icon: more"></span></button>
				<div uk-dropdown="mode: click; pos: right-center; boundary: ! .uk-button-group; boundary-align: true;">
					<ul class="uk-nav uk-dropdown-nav">
						<li><a href="#!/books/edit/{{book._id}}" class="uk-button uk-button-primary uk-text-success uk-text-bold">Edit</a></li>
						<li><a href="#" class="uk-button uk-button-danger uk-text-warning uk-text-bold" ng-click="removeBook(book._id)">Delete</a></li>
					</ul>
				</div><!-- /uk-dropdown -->
			</div><!-- /uk-inline -->
		</div><!-- /uk-button-group -->

	</div><!-- /uk-card-body -->
</div><!-- /uk-card -->
